<section class="content-header">
      <h1>
        Settting Pemda
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Setting Pemda</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-body">
				<div class="modal-header">
					<h3 class="modal-title"></h3>
				</div>
				<form name="productForm" ng-submit="submit(product, productForm)"
					novalidate validation-schema schema="product">
					<div class="modal-body">
						<fieldset>
							<div class="form-group">
								<label class="control-label" for="name">Nama Pemda</label>
								<div class="controls">
									<input type="text" id="name"
										name="name
                         _pemda"
										class="form-control" ng-model="product.name" required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="category">Akronim
									Pemda</label>
								<div class="controls">
									<input type="text" id="" name="" class="form-control"
										ng-model="product.akronim" required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="name">Alamat</label>
								<div class="controls">
									<input type="text" id="" name="" class="form-control"
										ng-model="product.alamat" required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="name">Kota</label>
								<div class="controls">
									<input type="text" id="" name="" class="form-control"
										ng-model="product.kota" required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="description">Provinsi</label>
								<div class="controls">
									<input type="text" id="" name="" class="form-control"
										ng-model="product.provinsi" required>
								</div>
							</div>
							<hr>
							<div class="form-group">
								<label class="control-label" for="description">Nama
									Kepala</label>
								<div class="controls">
									<input type="text" id="" name="" class="form-control"
										ng-model="product.provinsi" required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="description">Nip
									Kepala</label>
								<div class="controls">
									<div class="input-group input-group-sm">
										<input type="text" class="form-control"> <span
											class="input-group-btn">
											<button type="button" class="btn btn-primary btn-flat">Cari</button>
										</span>
									</div>
								</div>
							</div>
							<hr>
							<div class="form-group">
								<label class="control-label" for="description">Jabatan
									Bendahara</label>
								<div class="controls">
									<input type="text" id="" name="" class="form-control"
										ng-model="product.provinsi" required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="description">Nama
									Bendahara</label>
								<div class="controls">
									<input type="text" id="" name="" class="form-control"
										ng-model="product.provinsi" required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="description">Nip
									Bendahara</label>
								<div class="controls">
									<div class="input-group input-group-sm">
										<input type="text" class="form-control"> <span
											class="input-group-btn">
											<button type="button" class="btn btn-primary btn-flat">Cari</button>
										</span>
									</div>
								</div>
							</div>
							<hr>
							<div class="form-group">
								<label class="control-label" for="description">Jab.
									Pembuat Daftar</label>
								<div class="controls">
									<input type="text" id="" name="" class="form-control"
										ng-model="product.provinsi" required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="description">Nama
									Pembuat Daftar</label>
								<div class="controls">
									<input type="text" id="" name="" class="form-control"
										ng-model="product.provinsi" required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="description">Nip
									Pembuat Daftar</label>
								<div class="input-group input-group-sm">
									<input type="text" class="form-control"> <span
										class="input-group-btn">
										<button type="button" class="btn btn-primary btn-flat">Cari</button>
									</span>
								</div>
							</div>
							<hr>
							<div class="form-group">
								<label class="control-label" for="description">No.
									Rekening DAU</label>
								<div class="controls">
									<input type="text" id="" name="" class="form-control"
										ng-model="product.provinsi" required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="description">Nama Bank</label>
								<div class="controls">
									<input type="text" id="" name="" class="form-control"
										ng-model="product.provinsi" required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="description">N P W P</label>
								<div class="controls">
									<input type="text" id="" name="" class="form-control"
										ng-model="product.provinsi" required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="description">Tgl Batas
									Proses Gaji</label>
								<div class="controls">
									<input type="text" id="" name="" class="form-control"
										ng-model="product.provinsi" required>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="modal-footer">
						<input type="submit" value="Save"
							class="btn btn-primary col-md-3 col-xs-12"> <span
							class="label label-danger" ng-show="error"> Ops something
							went wrong! </span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</section>